<div class="container">
  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">please enter valid values</div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDescription.invalid">please enter minimum 5 characters</div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">please enter valid Date</div>
  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
  <fieldset class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="todo.description" 
    class=form-control name="description" required="required" minlength="5"
    #targetDescription="ngModel"
    >
  </fieldset>


  <fieldset class="form-group">
    <label>TargetDate</label>
<input type="date" #targetDate="ngModel"
[ngModel]="todo.targetDate | date:'yyyy-MM-dd' " 
(ngModelChange)="todo.targetDate= $event" 
class=form-control name="targetDate" required="required"> 
</fieldset>

<button type="submit" class="btn btn-success" >Update</button>

</form>
</div>
